<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

<h1><%= pageTitle %></h1>

<p>Database: <%= db %></p>

<p>Query: <%= query %></p>

<p>Number of results: <%= results.length %></p>

<p>Results:</p>

<ul>
    <% results.forEach(result => { %>
        <li>
            Title: <strong><%= db === 'postgres' ? result.title : 'both' ? result.title : result.Title %></strong><br>
            Genre: <strong><%= db === 'postgres' ? result.genres : 'both' ? result.genres : result.Genres %></strong><br>
            Director: <strong><%= db === 'postgres' ? result.director : 'both' ? result.director : result.Director %></strong><br>
            Release Date: <strong><%= db === 'postgres' ? result.releasedate.toLocaleDateString() : 'both' ? result.releasedate.toLocaleDateString() : result.ReleaseDate %></strong><br>
        </li>
        <br>
    <% }); %>
</ul>

<br>

<p><a href="/">Go back</a></p>

<%- include ('./partials/foot.ejs') %>