<%- include ('./partials/head.ejs') %>
<%- include ('./partials/nav.ejs') %>

<h1><%= pageTitle %></h1>

<p>Database: <%= db %></p>

<p>Query: <%= query %></p>

<p>Number of results: <%= results.length %></p>

<p>Results:</p>

<ul>
    <% results.forEach(result => { %>
        <li>
            Title: <strong><%= result.title %></strong><br>
            Genre: <strong><%= result.genres %></strong><br>
            Director: <strong><%= result.director %></strong><br>
            Release Date: <strong><%= result.releasedate.toLocaleDateString() %></strong><br>
        </li>
        <br>
    <% }); %>
    <!-- <li>TESTTESTTEST</li> -->
</ul>

<br>

<p><a href="/">Go back</a></p>

<%- include ('./partials/foot.ejs') %>